 <%- include("parts/header") %>
              
<% if(vaildatorErr) { %>
    <p class=" text-center
    text-red-400 font-bold">
       <%= vaildatorErr.msg %>
   </p>
<% } %>


<div class="container relative w-full px-3 -top-64 mb-32 md:top-7 mx-auto">

    <form action="/"  method="GET">
      <select class="w-64 " name="catorgress" id="">
          <option value="All">All</option>
          <option value="phone">phone</option>
          <option value="closes">closes</option>
      </select>
      <input type="submit" class="text-white   text-lg bg-blue-500 w-24 font-serif" value="filter">
    </form>

</div>

     <div class="flex-col md:flex-row flex-wrap  md:justify-around   absolute top-40 md:top-0 md:flex md:relative  mx-auto">
        <% for(let product of products) { %>
          <form action="/cart" method="POST">
                        <div class="my-2 md:w-3/12 w-2/3 md:mx-0 mx-auto ">
                 <div class="relative w-64 h-64  overflow-hidden bg-blue-800 rounded-xl "> 
                       <div class="card  relative">
                           <div  class="imgbox">
                                 <img width="200px" src="<%= product.image %>">
                           </div>

                           <div class="contentbox text-lg text-white bg-transparent  ">
                               <input type="hidden" name="name" value="<%= product.name %>">
                               <input type="hidden" name="price" value="<%= product.price %>">
                               
                                 <h1 class="inline"><%= product.name %></h1>  <input type="number" class="w-32 text-center text-black font-bold" name="amount" placeholder="amount" id="">
                                <br>   <input type="submit" value="Buy Now" class="text-blue-500 bg-transparent font-bold "> 
                           </div>
                       </div>
                 </div>
            </div>
        </form>

         <% } %>
              </div>

        
              <style>
                  .image:hover ~ .img2{
                            bottom: 0;
                    }
                    .card {
                        height: 212px;
                    }

                    .card::before {
                        display:  block;
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: white;
                        clip-path: circle(100px at 80% 20%);
                        transition: 0.5s ease-in-out;
                    }

                    .card:hover:before {
                        clip-path: circle(200px at 80% -20%);
                    }
                    .card .imgbox {

                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 100%;
                        height: 200px;
                        left: 10%;
                        transition: .5s ;
                    }
                    .card:hover .imgbox {
                        
                        top: 0%;
                        transform: translateY(20%);
                    }

                    .card  .contentbox  {
                        position: absolute;
                        top: 194%;
                        left: 40%;
                        transition: 0.5s ;
                        
                    }
                    .card:hover  .contentbox  {
                        position: absolute;
                        top: 80%;
                        left: 20%;
                        
                    }


                  .image::after{
                      background-color: red;
                      width: 100%;
                      height : 100% ;
                      position: absolute;
                      top: 0;
                      left: 0;
                      display: block;
                      z-index: 90000;
                  }
              </style>
<%- include("parts/footer") %>