<%- include("parts/header") %>
   <% if(items.length === 0) {%>
           <p class="bg-red-500 text-white font-bold text-xl  text-center"> there no products </p>
    <% } else { %>

                      

<% for(let i = 0 ; i < items.length ; i++){ %>
      <form method="POST" action="/order">
         <table class=" mx-auto  w-9/12 relative bottom-32 md:bottom-0 " >
             <thead>
                 <td>N.O</td>
                 <td>name</td>
                 <td>price</td>
                 <td>amount</td>
                 <td>totall</td>
                 <td>address</td>
                 <td></td>
             </thead>
             <tbody>
                <td><%= i+1 %></td>
                <td><%= items[i].name %></td>
                <td><%= items[i].price %></td>

                    
                    <td> 
                        <input type="number" disabled name="amount" class="w-10 text-center bg-transparent text-white" value="<%= items[i].amount %>" > 
                    </td>
                    <td><%= items[i].amount * items[i].price %> $</td>

                  
                    
 
                </form>
 
               
                <td>

             
                    <p>
                          <%= items[i].address %>
                    </p>
        
                </td>
                <td>
                     
                        <input type="hidden" name="orderID"  value="<%= items[i]._id%>">
                        <input type="submit" value="cansle" class="bg-red-500 p-2 m-2 text-white" formaction="/order/delete">
             
                                    </form>

                </td>
            </tbody>
            </table>
                    

         
            <% } %>
         <style>
             thead td{
                border-radius: 10px;
                color: rgb(26, 212, 212);
             }
             table  , td {
                 border: 1px solid gray;
                 color: white;
                 text-align: center;
                }
               table tr td {
                    margin-left: 100px;
                    margin-right: 100px;
                  
                }
                </style>
         <% } %>

<%- include("parts/footer") %>





