<%- include("parts/header") %>
   

<div class="flex flex-col justify-center ">

    
    <div class="flex text-white justify-center absolute top-20 md:relative text-center flex-col">  


   <div>
       
    <img src="/<%= product.image %>.jpg"  class=" px-2  md:w-1/4 md:mx-auto" alt="">
   </div>

        <div class="w-1/4 bg-blue-400 text-white font-serif font-bold mx-auto ">
             
            <%= product.name  %>
        </div>
         

        <div class="text-xl">
             price : 
            <%= product.price  %> $
        </div>

        <div>
            <%= product.descrption  %>
        </div>

        
        <div>
            <form action="">
                <input type="number" step="1" min="1" max="20" name="" class="font-bold text-black" id="">

                <input  class="bg-blue-600 p-2 m-2 text-white font-serif font-bold" type="submit" value="add to cart">
                              
            </form>
        </div>
    </div>


</div>
  
<%- include("parts/footer") %>